body {
  margin: 0;
  padding: 0;
  font-family: Ubuntu, sans-serif;
}

#loading-outer {
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: #fff;
  transition: opacity ease-in-out .5s;
}
#loading-outer.fade {
  opacity: 0;
}
#loading-inner {
  width: 5em;
  height: 5em;
  margin-left: -2.5em;
  margin-top: -2.5em;
  left: 50%;
  top: 50%;
  position: fixed;
}
#loading-inner .loader,
#loading-inner .loader:before,
#loading-inner .loader:after {
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation: load 1.8s infinite ease-in-out;
  animation: load 1.8s infinite ease-in-out;
}
#loading-inner .loader {
  font-size: 10px;
  margin: 2.5em auto;
  position: relative;
  text-indent: -9999px;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
#loading-inner .loader:before {
  left: -3.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
#loading-inner .loader:after {
  left: 3.5em;
}
#loading-inner .loader:before,
#loading-inner .loader:after {
  content: '';
  position: absolute;
  top: 0;
}
@-webkit-keyframes load {
  0%, 80%, 100% {
    box-shadow: 0 2.5em 0 -1.3em #000;
  }
  40% {
    box-shadow: 0 2.5em 0 0 #000;
  }
}
@keyframes load {
  0%, 80%, 100% {
    box-shadow: 0 2.5em 0 -1.3em #000;
  }
  40% {
    box-shadow: 0 2.5em 0 0 #000;
  }
}

#messages {
  margin: 0;
  padding: 0;
  position: fixed;
  z-index: 99;
  top: 0;
  width: 100%;
}
#messages .message {
  display: block;
  margin: .4em auto;
  padding: .3em .5em;
  color: #000;
  list-style: none;
  width: 20%;
  min-width: 300px;
  cursor: pointer;
  transition: opacity ease-in-out .5s;
}
#messages .message.fade {
  opacity: 0;
}
#messages .message-error {
  background-color: #faa;
}
#messages .message-warn {
  background-color: #ffa;
}
#messages .message-success {
  background-color: #afa;
}
#messages .message-title {
  text-align: center;
}
#messages .message-body {
  font-size: .89em;
  color: #444;
}

#login-form-outer {
  width: 360px;
  height: 240px;
  position: fixed;
  left: 50%;
  top: 50%;
  margin-left: -180px;
  margin-top: -120px;
}
#login-form-outer .input-label {
  width: 80px;
}

.input-text {
  font-size: 1.2em;
  line-height: 1.5em;
  padding: 0 .2em;
  outline: none;
  border: 1px solid #999;
  border-radius: .2em;
  margin: .1em 0;
}
.input-text:focus {
  border-color: #09e;
}

.input-label {
  display: inline-block;
}

.input-checkbox-outer {
  padding-left: 22px;
  margin: .3em .1em;
	position: relative;
  display: inline-block;
}
.input-checkbox {
  position: absolute;
  left: 0;
  z-index: 1;
}
.input-checkbox-outer label {
	cursor: pointer;
	position: absolute;
	width: 18px;
	height: 18px;
	top: 0;
  left: 0;
	border-radius: 4px;
  border: 1px solid transparent;
  z-index: 2;

	-webkit-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,.4);
	-moz-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,.4);
	box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,.4);

	background: -webkit-linear-gradient(top, #222 0%, #45484d 100%);
	background: -moz-linear-gradient(top, #222 0%, #45484d 100%);
	background: -o-linear-gradient(top, #222 0%, #45484d 100%);
	background: -ms-linear-gradient(top, #222 0%, #45484d 100%);
	background: linear-gradient(top, #222 0%, #45484d 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#222', endColorstr='#45484d',GradientType=0 );
}
.input-checkbox:focus + label {
  border-color: #09e;
}
.input-checkbox-outer label:after {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	opacity: 0;
	content: '';
	position: absolute;
	width: 9px;
	height: 5px;
	background: transparent;
	top: 3px;
	left: 3px;
	border: 3px solid #fcfff4;
	border-top: none;
	border-right: none;

	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
}
.input-checkbox-outer label:hover::after {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
	filter: alpha(opacity=30);
	opacity: 0.3;
}
.input-checkbox:checked + label:after {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	opacity: 1;
}

.button {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #f6f6f6));
	background:-moz-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
	background:-webkit-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
	background:-o-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
	background:-ms-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
	background:linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0);
	background-color:#ffffff;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius: 6px;
	border: 1px solid #dcdcdc;
	display: inline-block;
	cursor: pointer;
	color: #666666;
	font-family: Arial;
	font-size: 15px;
	font-weight: bold;
  outline: none;
	padding: 6px 24px;
	text-decoration: none;
	text-shadow: 0px 1px 0px #ffffff;
}
.button:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f6f6f6), color-stop(1, #ffffff));
	background:-moz-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
	background:-webkit-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
	background:-o-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
	background:-ms-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
	background:linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6f6f6', endColorstr='#ffffff',GradientType=0);
	background-color:#f6f6f6;
}
.button:focus {
  border-color: #09e;
}
.button:active {
	position:relative;
	top:1px;
}

#admin-bar {
  position: fixed;
  left: 0;
  top: 0;
  width: 250px;
  height: 64px;
  border-bottom: 1px solid #999;
  overflow: hidden;
}
.admin-bar-admin {

}

#chat-list-outer {
  position: fixed;
  left: 0;
  top: 65px;
  bottom: 0;
  width: 250px;
  overflow-x: hidden;
  overflow-y: scroll;
}
.chat-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.chat-list-item {
  display: block;
  height: 64px;
}

#chat-outer {
  position: fixed;
  left: 250px;
  top: 0;
  right: 0;
  bottom: 0;
  overflow-x: hidden;
  overflow-y: scroll;
  border-left: 1px solid #999;
}
.chat-messages {
  list-style: none;
  margin: 0;
  padding: 0;
}
.chat-message {
  display: block;
  margin: 1em .5em .5em .5em;
  clear: both;
}
.chat-message-blob {
  display: inline-block;
  padding: .3em 1em;
  border-radius: 1em;
  background-color: #f1f1f1;
}
.mine .chat-message-blob {
  float: right;
  background-color: #becfff;
}
.chat-message .name {
}
.chat-message .time {
}
.chat-message .text {
}
